extends layout

block content
  
  
  p#p1 
  p#p2
  button#hitBtn(type='button') Hit Me!
  button#stayBtn(type='button') Stay
  #playerhand
  #dealerhand
  #carddeck
  
  //- .ui.modal 
  //-  .description
  //-    p#p3 wanna play?
  //-  .actions
  //-   .ui.green.button
  //-     | Deal


  .ui.modal2
   .description2
     p#p4 
   .actions
    .ui.blue.button
      | Play Again
  
  
 
    

  
