body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

#hitBtn {
  bottom: 5%;
  width: 100px;
  height: 30px;
  position: absolute;
  background: orange;
}
#stayBtn {
  bottom: 5%;
  left: 12%;
  width: 100px;
  height: 30px;
  position: absolute;
  background: orange;
}

#p1 {
  bottom: 5%;
  left: 85%;
  width: 100px;
  height: 30px;
  font: 100px "Arial";
  position: absolute;
}

#p2 {
  top: 5%;
  left: 85%;
  width: 100px;
  height: 30px;
  font: 100px "Arial";
  position: absolute;
  transition: all 3.5s ease-in-out;
}

#playerhand {
  position: absolute;
  bottom: 20%;
  left: 30%;
  width: 5000%;
  height: 100px;
}

#dealerhand {
  position: absolute;
  left: 30%;
  width: 5000%;
  height: 100px;
}

#carddeck {
  position: absolute;
  bottom: 50%;
  width: 500px;
  height: 100px;
}

.ui.modal {
  position: fixed;
  background-color: white;
  top: 50%;
  height: 70px;
  width: 200px;
}

.description {
  position: relative;
  left: 60px;
}

.ui.green.button {
  position: absolute;
  right: 20px;
  height: 30px;
  width: 150px;
}

.ui.modal2 {
  visibility: hidden;
  position: fixed;
  background-color: white;
  top: 50%;
  height: 60px;
  width: 200px;
}

.description {
  position: relative;
  left: 60px;
}

.ui.blue.button {
  position: absolute;
  right: 20px;
  height: 40px;
  width: 150px;
}

.card {
  /* suppose to animate the cards but doesn't work */
  position: relative;
  animation: cardDraw;
}

@keyframes cardDraw {
  0% {
    translatey: 200px;
  }
  50% {
    translatey: 100px;
  }
  100% {
    translatey: 0px;
  }
}

.flip {
  /*animates a card flip*/
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  animation: cardFlip 0.275s forwards linear;
}

@keyframes cardFlip {
  0% {
    transform: rotateZ(0deg) rotateY(180deg);
  }
  50% {
    transform: rotateZ(-10deg) rotateY(90deg);
  }
  100% {
    transform: rotateZ(0deg) rotateY(0deg);
  }
}
